.create-kitten {
    border-width: 1px;
    border-style: groove;
    width:20%;
}

.kitten-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: var(--spacing);
}

.feedback-button-invalid {
    background-color: rgb(234, 71, 12);
}

.feedback-button-valid {
    background-color: aquamarine;
}