.cat-card {
    border-width: 2px;
    border-color: lightblue;
    border-style: ridge;

    width:100%;
    margin-top: 1rem;
    margin-bottom: 1rem;

    background-color: lightgray;
    padding: 0.5rem;
}

.cat-card:hover {
    transition: 1s ease-in-out;
    transform: scale(1.3);
    .detail{
        display: block;
    }
}

.detail{
    display: none;
    margin: 0px;
}

.cat-pic{
    width:100%;
}